@import "tailwindcss";

@theme {
	/* Colors */
	--color-seafoam-50: oklch(0.9708 0.0075 164.94);
	--color-seafoam-100: oklch(0.9322 0.0194 167.91);
	--color-seafoam-200: oklch(0.91 0.07 167.91);
	--color-seafoam-300: oklch(0.83 0.13 167.91);
	--color-seafoam-400: oklch(0.75 0.18 167.91);
	--color-seafoam-500: oklch(0.71 0.17 167.91);
	--color-seafoam-600: oklch(0.63 0.15 167.91);
	--color-seafoam-700: oklch(0.55 0.13 167.91);
	--color-seafoam-800: oklch(0.44 0.1 167.91);
	--color-seafoam-900: oklch(0.33 0.08 167.91);
	--color-seafoam-950: oklch(0.22 0.05 167.91);

	--color-tidewater-50: oklch(1 0 218.1);
	--color-tidewater-100: oklch(0.97 0.03 218.1);
	--color-tidewater-200: oklch(0.7466 0.0472 223.39);
	--color-tidewater-300: oklch(0.84 0.13 218.1);
	--color-tidewater-400: oklch(0.76 0.18 218.1);
	--color-tidewater-500: oklch(0.72 0.17 218.1);
	--color-tidewater-600: oklch(0.63 0.15 218.1);
	--color-tidewater-700: oklch(0.55 0.13 218.1);
	--color-tidewater-800: oklch(0.44 0.1 218.1);
	--color-tidewater-900: oklch(0.34 0.08 218.1);
	--color-tidewater-950: oklch(0.23 0.05 218.1);

	--color-linen-50: oklch(0.987305 0.0125 103.15);
	--color-linen-100: oklch(0.9584 0.0172 103.15);
	--color-linen-150: oklch(0.942383 0.059375 103.15);

	--color-ink: oklch(0.2165 0.0094 53.06);

	/* Typography */
	--font-roca: roca, sans-serif;
	--font-instrument-sans: instrument-sans-variable, sans-serif;
}

@utility transition-hover {
	@apply transition-colors duration-200 ease-out;
}

@utility bg-noise {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
	background-size: 120px 120px;
}

@utility animate-grain {
	animation: grain 1s steps(8) infinite;
}

@keyframes grain {
	0%,
	100% {
		background-position: 0 0;
	}
	10% {
		background-position: -20px -40px;
	}
	20% {
		background-position: -60px 20px;
	}
	30% {
		background-position: 20px -60px;
	}
	40% {
		background-position: -40px 40px;
	}
	50% {
		background-position: -20px 60px;
	}
	60% {
		background-position: 60px 0;
	}
	70% {
		background-position: 40px 20px;
	}
	80% {
		background-position: -40px -20px;
	}
	90% {
		background-position: 20px 40px;
	}
}

@layer base {
	/* Heading size and weight */
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-semibold;
	}
	h4 {
		@apply text-xl font-semibold;
	}
	h5 {
		@apply text-lg font-medium;
	}
	h6 {
		@apply text-base font-medium;
	}

	/* Font family */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-roca;
	}

	p,
	a,
	button {
		@apply font-instrument-sans;
	}

	/* Base colors */
	body {
		@apply bg-linen-50;
	}

	/* Elements */
	button {
		@apply rounded-full py-1 px-3 cursor-pointer;
	}
}
