@import "tailwindcss";

@theme {
	/* Colors */
	--color-seafoam-50: oklch(0.9708 0.0075 164.94);
	--color-seafoam-100: oklch(0.9322 0.0194 167.91);
	--color-seafoam-200: oklch(0.87 0.045 167.91);
	--color-seafoam-300: oklch(0.79 0.07 167.91);
	--color-seafoam-400: oklch(0.75 0.18 167.91);
	--color-seafoam-500: oklch(0.71 0.17 167.91);
	--color-seafoam-600: oklch(0.63 0.15 167.91);
	--color-seafoam-700: oklch(0.55 0.13 167.91);
	--color-seafoam-800: oklch(0.44 0.1 167.91);
	--color-seafoam-900: oklch(0.19 0.03 167.91);
	--color-seafoam-950: oklch(0.22 0.05 167.91);

	--color-tidewater-50: oklch(1 0 218.1);
	--color-tidewater-100: oklch(0.97 0.03 218.1);
	--color-tidewater-200: oklch(0.7466 0.0472 223.39);
	--color-tidewater-300: oklch(0.84 0.13 218.1);
	--color-tidewater-400: oklch(0.76 0.18 218.1);
	--color-tidewater-500: oklch(0.72 0.17 218.1);
	--color-tidewater-600: oklch(0.63 0.15 218.1);
	--color-tidewater-700: oklch(0.55 0.13 218.1);
	--color-tidewater-800: oklch(0.44 0.1 218.1);
	--color-tidewater-900: oklch(0.34 0.08 218.1);
	--color-tidewater-950: oklch(0.23 0.05 218.1);

	--color-linen-50: oklch(0.987305 0.0125 103.15);
	--color-linen-100: oklch(0.9584 0.0172 103.15);
	--color-linen-150: oklch(0.9424 0.0349 103.15);

	--color-ochre-50: oklch(97.6% 0.015 77.1);
	--color-ochre-100: oklch(93.7% 0.038 80);
	--color-ochre-200: oklch(87.9% 0.07 80.9);
	--color-ochre-300: oklch(80.6% 0.101 78.8);
	--color-ochre-400: oklch(72.5% 0.117 75);
	--color-ochre-500: oklch(57.2% 0.113 66.5);
	--color-ochre-600: oklch(50.3% 0.099 65.6);
	--color-ochre-700: oklch(42.6% 0.082 64.9);
	--color-ochre-800: oklch(34.3% 0.064 65);
	--color-ochre-900: oklch(26.2% 0.045 67.4);

	--color-ink: oklch(0.2165 0.0094 53.06);

	--color-moss: oklch(0.7704 0.0386 103.9);

	/* Typography */
	--font-roca: roca, sans-serif;
	--font-instrument-sans: instrument-sans-variable, sans-serif;
}

@utility transition-hover {
	@apply transition-colors duration-200 ease-out;
}

@utility bg-noise {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
	background-size: 120px 120px;
}

@layer base {
	/* Heading size and weight */
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-semibold;
	}
	h4 {
		@apply text-xl font-semibold;
	}
	h5 {
		@apply text-lg font-medium;
	}
	h6 {
		@apply text-base font-medium;
	}

	/* Font family */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-roca;
	}

	p,
	a,
	button {
		@apply font-instrument-sans;
	}

	/* Base colors */
	body {
		@apply bg-linen-50;
	}

	/* Elements */
	button {
		@apply rounded-full py-1 px-3 cursor-pointer;
	}
}
